<ion-view title="Classificação" id="page10" hide-back-button="true" ng-init="init()">
  <ion-content padding="false" class="has-header">
    <div class="list card" id="classificaO-card21">
      <ion-item class="item-avatar balanced  degree-problem two" id="classificaO-list-item9">
        <img src="img/warning.png">
        <h2balanced>GRAU II
          <p>Seu pé possui um grau de risco do tipo 2.</p>
        </h2balanced>
      </ion-item>
      <div class=" item item-image">
        <img src="img/foot_1.jpg" style="display: block; width: 50%; padding: 10px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="classificaO-list-item-container15"></div>
      <div class="item item-body" id="classificaO-list-item-container10">
        <div id="classificaO-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Seu pé, exibe um grau de risco do
            <strong>TIPO II</strong>, ou seja, existem algumas medidas que precisam ser tomadas.</p>
        </div>
      </div>
      <div class="item item-body" id="classificaO-list-item-container12">
        <div id="classificaO-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CUIDADOS</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="classificaO-list-item10">
        <i class="icon ion-android-add"></i>Utilizar calçados adaptados</ion-item>
      <ion-item class="item-icon-left assertive" id="classificaO-list-item11">
        <i class="icon ion-android-add"></i>Consulta com cirurgião vascular</ion-item>
      <div class="item item-body" id="classificaO-list-item-container17">
        <div id="classificaO-markdown23" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>SUGESTÕES</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left balanced" id="classificaO-list-item14">
        <i class="icon ion-android-bulb"></i>Refazer o exame mensalmente</ion-item>
      <ion-item class="item-icon-left balanced" id="classificaO-list-item13">
        <i class="icon ion-android-bulb"></i>Manter acompanhamento</ion-item>
      <ion-item class="item-icon-left balanced" id="classificaO-list-item15">
        <i class="icon ion-android-bulb"></i>Consultar a cada 2-3 meses</ion-item>
      <div class="item item-body" id="classificaO-list-item-container19">
        <div id="classificaO-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lembre se, lançamos algumas
            <strong>ferramentas</strong> para lhe
            <strong>auxiliar</strong> em quando for necessário refazer essa procedimento.</p>
        </div>
        <a ui-sref="/" id="classificaO-button8" class="button button-balanced  button-block icon-right ion-android-done-all">Entendi!</a>
      </div>
      <div class="spacer" style="height: 40px;"></div>
    </div>
  </ion-content>
</ion-view>