<ion-view title="Histórico" id="page3" hide-back-button="false">
  <ion-content padding="false" class="has-header">
    <ion-list id="classificaEs-list11">
      <ion-item class="item-thumbnail-left balanced" id="classificaEs-list-item6" ui-sref="tabsController.classificaO">
        <img src="img/SawhK9ZLS8aadx4i0BbO_file.jpg">
        <h2balanced>Sem Risco
          <p style="white-space:normal;">04/04/2016</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="classificaEs-list-item17" ui-sref="tabsController.classificaO">
        <img src="img/xkE9L376QnqphOh5bEtc_Verruga_Plantar2.jpg">
        <h2balanced>Risco I
          <p style="white-space:normal;">04/10/2016</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="classificaEs-list-item18" ui-sref="tabsController.classificaO">
        <img src="img/07jCWjkkTO2EluF5cAfQ_CapturadeTela2016-12-04as02.38.36.png">
        <h2balanced>Risco II
          <p style="white-space:normal;">04/12/2016</p>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
