<ion-view title="Introdução" hide-nav-bar="true" hide-back-button="true" id="page7" ng-controller="slidermainCtrl">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" id="introduO-slider2" style="width:100%;height:100%;">
      <ion-slide-page id="introduO-slide210" style="background-color:#DDF0EB;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="item item-body" id="introduO-list-item-container5">
                <div id="introduO-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#000000;font-size:21px;">O que é
                    <strong>diabetes</strong>? </p>
                </div>
              </div>
              <div id="introduO-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;font-size:17px;">Diabetes é uma doença crônica na qual ocorre a perda de controle da quantidade de açucar no sangue.</p>
              </div>
              <!--<a ng-click="next()" id="introduO-button9" style="font-style:italic;border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block button-outline icon-right ion-ios-arrow-right button-next">Próximo </a>-->
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="introduO-slide211" style="background-color:#DDF0EB;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="item item-body" id="introduO-list-item-container8">
                <div id="introduO-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#000000;font-size:21px;">O que são
                    <strong> pés diabeticos</strong>? </p>
                </div>
              </div>
              <div id="introduO-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;font-size:17px;">É uma complicação do diabetes com alteração da sensibilidade que pode levar a amputação.</p>
              </div>
              <a ui-sref="entrar" id="introduO-button3" style="font-style:italic;border-radius:0px 0px 0px 0px;" class="button button-balanced button-small button-block button-outline icon-right ion-ios-arrow-right button-next">Entendi</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
