<ion-view title="Mais dados" id="page9" hide-back-button="false">
  <ion-content padding="false" scroll="false" class="has-header">
    <div class="item item-body" id="maisDados-list-item-container7">
      <div id="maisDados-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#74B4A4;">Você está quase lá, basta
          <strong>responder</strong> mais alguns pontos!!</p>
      </div>
    </div>
    <ion-list id="maisDados-list16">
      <ion-item class="item-divider text-center" id="maisDados-list-item-divider6"> Alguma vez?</ion-item>
      <ion-toggle toggle-class="toggle-balanced" id="maisDados-toggle12">Já amputou</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="maisDados-toggle15">Já teve feridas</ion-toggle>
    </ion-list>
    <div class="item item-body" id="maisDados-list-item-container13">
      <a ui-sref="tabsController.foto" id="maisDados-button5" class="button button-balanced  button-block icon-right ion-chevron-right">Vamos tirar a foto?</a>
    </div>
  </ion-content>
</ion-view>
