<ion-view title="Foto" id="page11" hide-back-button="false">
  <ion-content padding="false" class="has-header">
    <div class="item item-body" id="foto-list-item-container14">
      <div id="foto-markdown20" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Tire uma
          <strong>FOTO</strong> da planta do pé (parte de baixo), conforme o exemplo abaixo:</p>
      </div>
      <div>
        <img src="img/foot_example.png" style="display: block; width: 100px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="foto-button6" class="button button-balanced  button-block icon-right ion-camera" ng-click="show_this = true" ng-show="!show_this">Tirar foto!</button>
      <a ui-sref="classification" id="foto-button7" class="button button-balanced  button-block icon-right ion-android-done" ng-show="show_this">Gerar Classificação</a>
    </div>
  </ion-content>
</ion-view>

Tire uma FOTO da planta do pé, da parte de baixo do pé, como no exemplo abaixo