<ion-view title="Questionário" id="page2" hide-back-button="true">
  <ion-content padding="false" class="has-header">
    <ion-list id="questionRio-list5">
      <ion-item class="item-divider text-center" id="questionRio-list-item-divider4"> Como seu pé está?</ion-item>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle2" check-click>Inchado</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle3">Vermelho</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle4">Quente</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle5">Com Calos</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle6">Com Feridas</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle7">Pálido</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle8">Gelado</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle9">Doloroso</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle11">Sem Sensibilidade</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="questionRio-toggle10">Deformado</ion-toggle>
      <div class="item item-body" id="questionRio-list-item-container11">
        <div id="questionRio-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Próximo passo, é
            <strong>rápido</strong>, fique tranquilo!!</p>
        </div>
        <a ui-sref="tabsController.maisDados" id="questionRio-button4" class="button button-balanced  button-block icon-right ion-chevron-right">Próximo</a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
