<ion-view title="Nova Avaliação" hide-back-button="true">
  <ion-content padding="false" class="has-header">
    <ion-list>
      <ion-item class="item-divider text-center"> Como seu pé está?</ion-item>
      <ion-toggle toggle-class="toggle-balanced">Inchado</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Vermelho</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Quente</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Com Calos</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Com Feridas</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Pálido</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Gelado</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Doloroso</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Sem Sensibilidade</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Deformado</ion-toggle>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p>Próximo passo, é <strong>rápido</strong>, fique tranquilo!</p>
        </div>
        <a ui-sref="moreData" class="button button-balanced  button-block icon-right ion-chevron-right">Próximo</a>
      </div>
      <div class="spacer" style="height: 40px;"></div>
    </ion-list>
  </ion-content>
</ion-view>
