<ion-view title="Registro" id="page8" hide-back-button="false">
  <ion-content padding="false" class="has-header">
    <form id="registro-form3" class="list">
      <ion-list id="registro-list13">
        <label class="item item-input" id="registro-input10">
          <span class="input-label">Nome Completo</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registro-input11">
          <span class="input-label">Data Nascimento</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-select" id="registro-select1">
          <span class="input-label">Estado</span>
          <select></select>
        </label>
        <label class="item item-select" id="registro-select2">
          <span class="input-label">Cidade</span>
          <select></select>
        </label>
        <label class="item item-input" id="registro-textarea2" name="endereco">
          <span class="input-label">Endereço</span><textarea placeholder="Rua e número"></textarea></label>
      </ion-list>
      <a ui-sref="tabsController.questionRio" id="registro-button13" class="button button-balanced  button-block">Registrar</a>
    </form>
  </ion-content>
</ion-view>
