<ion-view title="Configurações" hide-back-button="no">
  <ion-content padding="false" class="has-header">
    <ion-list>
      <ion-toggle toggle-class="toggle-balanced">Sou profissional da saúde?</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Exibir histórico de avaliações?</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced">Permitir envio de notificações?</ion-toggle>
      <label class="item item-input">
        <span class="input-label">Em quanto tempo enviar notificações?</span>
        <select>
          <option selected>1 mês</option>
          <option>2 meses</option>
          <option>3 meses</option>
        </select>
      </label>
      <label class="item item-input">
          <span class="input-label">Tempo para histório de avaliações?</span>
          <select>
            <option selected>3 meses</option>
            <option>6 meses</option>
            <option>1 ano</option>
          </select>
        </label>
    </ion-list>
  </ion-content>
</ion-view>